name: MLflow CI Pipeline (Advanced)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-build-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.7"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 scikit-learn pandas numpy

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . \
          -P C_value=1.0 \
          -P max_iter=500 \
          -P dataset=data_banknote_preprocessing.csv

    - name: Get latest MLflow run_id
      run: |
        RUN_ID=$(ls -td MLProject/mlruns/0/*/ | head -n 1 | cut -d'/' -f4)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        echo "Latest run_id: $RUN_ID"

    - name: Build Docker Image
      run: |
        cd MLProject
        mlflow models build-docker \
          -m runs:/$RUN_ID/model \
          -n banknote-mlflow

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Push Docker Image to Docker Hub
      run: |
        docker tag banknote-mlflow ${{ secrets.DOCKER_HUB_USERNAME }}/banknote-mlflow:latest
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/banknote-mlflow:latest